.heading{
    width: 80%;
   font-size: 22px; 
}

.name_of_objects{
    color:red;
    
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
body{
    background:rgb(250, 189, 180);
    color: rgb(248, 87, 162);
}


